<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Veritabill!</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span4">
          <h1>Veritabill</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th>Client</th>
                <th>Day</th>
                <th>Time of Day</th>
                <th>Estimate</th>
                <th>Actual</th>
              </tr>
            </thead>
            <tbody>
              <% (0..10).each do |i| %>
                <% e = estimates[i] %>
                <tr>
                  <td><%= i %></td>
                  <td><%= e['user'] %></td>
                  <td><%= e['client'] %></td>
                  <td><%= e['day'] %></td>
                  <td><%= e['time_of_day'] %></td>
                  <td><%= e['estimate'] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>