<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Veritabill!</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/application.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span8">
          <h1>Veritabill</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Task #</th>
                <th>User</th>
                <th>Client</th>
                <th>Day</th>
                <th>Time of Day</th>
                <th>User Estimate</th>
                <th>Veritable Estimate</th>
                <th>Actual</th>
              </tr>
            </thead>
            <tbody>
              <% estimates.to_a.reverse.each do |e| %>
                <tr>
                  <td><%= e['id'] %></td>
                  <td><%= e['user'] %></td>
                  <td><%= e['client'] %></td>
                  <td><%= e['day'] %></td>
                  <td><%= e['time_of_day'] %></td>
                  <td><%= e['estimate'] / 2.0 %> hr</td>
                  <td><%= e['predicted'] ? "#{e['predicted'] / 2.0} hr": "" %></td>
                  <td><%= e['true_time'] / 2.0 %> hr</td>
                  <td><span style="color:<%= (e['true_time'] > e['estimate']) ? '#cc0000' : '#00cc00' %>; font-size: 80%;">(<%= (e['true_time'] > e['estimate']) ? "+#{(e['true_time'] - e['estimate']) / 2.0}" : (e['true_time'] < e['estimate'] ? "-#{(e['true_time'] - e['estimate']).abs / 2.0}" : "0") %>)</span></td>
                </tr>
              <% end %>
              <tr>
                <td><span style="color: #cccccc">new</span></td>
                <td><select id="user" style="width: 100px">
                  <% users.each do |u| %>
                    <option><%= u %></option>
                  <% end %>
                </select></td>
                <td><select id="client" style="width: 180px">
                  <% clients.each do |c| %>
                    <option><%= c %></option>
                  <% end %>
                </select></td>
                <td><select id="day"  style="width: 100px">
                  <% days.each do |d| %>
                    <option><%= d %></option>
                  <% end %>
                </select></td>
                <td><select id="time" style="width: 100px">
                  <% times.each do |t| %>
                    <option><%= t %></option>
                  <% end %>
                </select></td>
                <td>
                </td>
                <td>
                  <div class="slider"></div>
                  <!-- veritable estimate -->
                </td>
                <td>
                  <button class='btn btn-primary'>Submit</button>
                </td>
                <td>
                  <!-- performant? -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/vendor/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript">
      $(
        function() {
          $('slider').slider();
        }();
      );
    </script>
  </body>
</html>